{{define "layout"}} {{/* agar file layout.gohtml ini bisa dipanggil cukup dengan namanya saja yaitu "layout" */}}
{{template "header.gohtml"}}
<h1>Hai {{ .Name }}</h1>
{{template "footer.gohtml"}}
{{end}}